<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tadas Baltaduonis</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9" />
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="icon" type="image/png" href="static/Images/favicon2.png">
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</head>
<body>
    <div class="swiper mySwiper">
        <div class="swiper-navigation navigation-big-devices"></div>
        <div class="navigation-small-devices-collapsed"><button id="navigation-button"></button></div>
        <div class="swiper-navigation" id="navigation-small-devices"></div>

        <script>
            document.getElementById('navigation-button').addEventListener('click',function() {
                var navMenu = document.getElementById('navigation-small-devices');
                var navMenuDisplay = window.getComputedStyle(navMenu).display;
                if(navMenuDisplay === 'none'){
                    navMenu.style.display = 'flex';
                }
                else{
                    navMenu.style.display = 'none';
                }
                })
        </script>

        <div class="swiper-wrapper">

            <!-- About me page -->
            <div class="swiper-slide about-me">
                <div class="profile-pic first-element">
                    <img src="static/Images/DSC03018-removebg-preview.png">
                </div>
                <h1>Tadas Baltaduonis</h1>
                <h2>1998-12-28</h2>
                <h1>Full-Stack Developer</h1>
                <h2>+370 656 50610</h2>
                <h2><a href="mailto:tadasbaltaslt@gmail.com">tadasbaltaslt@gmail.com</a></h2>
                <p>In the end of 2021 programming has become a passion for me. I began coding whenever I had the opportunity. After completing various courses and working on my projects now I can code in Python, Django, Flask, Java, Javascript, React, Node.js, Express, HTML, CSS. I received knowledge on databases(SQL, noSQL), cloud technologies, containers, CI/CD, Git and etc.</p>
            </div>

            <!-- Education page -->
            <div class="swiper-slide education-page">
                <h1 class="first-element">Education</h1>
                <img class="slide-icon" src="static/Icons/icon-park-outline_certificate.png">
                <h2>IBM Full Stack Software Developer Professional Certificate</h2>
                <h3>2022-08</h3>
                <p>12 courses
                    on various Application Development and Cloud technologies. 
                    Hands-on working knowledge with HTML, CSS, JavaScript, GitHub,
                    Node.js, React, Cloud Native practices, DevOps, CI/CD, Containers,
                     Docker, Kubernetes, OpenShift, Python programming, Databases, SQL,
                     NoSQL, Django ORM, Bootstrap, Application Security, Microservices, 
                     Serverless computing, and more. <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/BTEBJA4HK3ND" target="_blank">Certificate link</a></p>

                <h2>Vilnius University Business School</h2>
                <h3>2021</h3>
                <p>Bachelor’s degree in International Business.</p>
            </div>

            <!-- Job Experiences page -->
            <div class="swiper-slide">
                <h1 class="first-element">Job Experiences</h1>
                <img class="slide-icon" src="static/Icons/briefcase.png">
                <h2>IT Project Manager</h2>
                <h2>Systems Integration Solutions, UAB</h2>
                <h3>Nov 2021 - Aug 2022</h3>
                <p>Overseeing IT projects, tracking project performance, setting project goals, implementing IT strategies, communicating with management, developers, clients, partners. </p>

                <h2>Associate Product Manager</h2>
                <h2>Ignitis, UAB</h2>
                <h3>Nov 2020 - Apr 2021</h3>
                <p>Managing small projects and assisting product managers with big projects related with energy sector.</p>

                <h2>Intern at B2B Product Management Department</h2>
                <h2>Ignitis, UAB</h2>
                <h3>Jul 2020 - Nov 2020</h3>

            </div>

            <!-- My Projects (MAED) page -->
            <div class="swiper-slide my-projects">
                <h1 class="first-element">My Projects</h1>
                <img id="maed-pic" src="static/Images/maed-presentation.png">
                <h2>MAED</h2>
                <h3>Django Web App</h3>
                <p>MAED is for searching and posting activities - restaurants, 
                    entertainment or events. I created MAED using Python (Django), 
                    Javascript, HTML, CSS. MAED stores and retrieves data from Cloudant 
                    (noSQL database) and images are stored in AWS S3 (Object Storage). 
                    This Web app is deployed on IBM Cloud Foundry.</p>
                <a href="https://maed-d43.eu-de.mybluemix.net" target="_blank">
                    <img src="static/Icons/web.png">
                    <span>Website link</span>
                </a>
                <a href="https://github.com/tadasbal/maedweb" target="_blank">
                    <img src="static/Icons/github.png">
                    <span>Github link</span>
                </a>
            </div>

            <!-- My Projects (text-to-gif) page -->
            <div class="swiper-slide my-projects">
                <h1 class="first-element">My Projects</h1>
                <img id="maed-pic" src="static/Images/text-to-gif.png">
                <h2>Text-to-Gif</h2>
                <h3>Express/React Web App</h3>
                <p>An app for searching for a gif based on english text. It uses Express, React, MongoDB, Giphy API, IBM NLU, Docker, Azure Web App</p>
                <a href="https://text-to-gif.azurewebsites.net/" target="_blank">
                    <img src="static/Icons/web.png">
                    <span>Website link</span>
                </a>
                <a href="https://github.com/tadasbal/IBM-text-to-gif" target="_blank">
                    <img src="static/Icons/github.png">
                    <span>Github link</span>
                </a>
            </div>

            <!-- Contact me page -->
            <div class="swiper-slide contact-me-page">
                <h1 class="first-element">Contact Me</h1>
                <form action="/" method="POST">
                    <label for="email">Your email:</label>
                    <input id="email" name="email" type="email">
                    <label for="subject">Subject:</label>
                    <input id="subject" name="subject">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message"></textarea>
                    <button type="submit">Send</button>
                </form>

                <div class="contacts">
                    <img src="static/Icons/email.png" alt="email-icon">
                    <a href="mailto:tadasbaltaslt@gmail.com">tadasbaltaslt@gmail.com</a>
                </div>
                <div class="contacts">
                    <img src="static/Icons/phone.png" alt="phone-icon">
                    <span>+37065650610</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Initialize Swiper -->
<script>
    var menu = ['About Me', 'Education', 'Job Experiences', 'My Projects(MAED)', 'My Projects(TTG)', 'Contact Me']
    var swiper = new Swiper('.mySwiper', {
        direction: "vertical",
        slidesPerView: 1,
        loop:true,
        mousewheel: true,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-navigation",
          clickable: true,
          renderBullet: function (index, className) {
            return '<span class="' + className + '">' + (menu[index]) + "</span>";
          },
        },
    });
</script>
</body>
</html>