html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption, input {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
line-height: 1;
}

input, select {
vertical-align:middle;
}


table {
border-collapse: collapse;
border-spacing: 0;
}

/* Above is css starter for every browser to be the same */
/* Below is css for every page */
@font-face {
    font-family: Nasalization;
    src: url("Font/nasalization-rg.otf");
}

body{
    font-family: Nasalization;
    color: #FFFFFF;
    overflow: hidden;
}

h1{
    font-size: min(8vw, 32px);
    text-shadow: 2px 0 #6B406A, -2px 0 #6B406A, 0 2px #6B406A, 0 -2px #6B406A,
               1px 1px #6B406A, -1px -1px #6B406A, 1px -1px #6B406A, -1px 1px #6B406A;
    margin-bottom: 20px;
}

h2{
    font-size: 20px;
    margin-bottom: 6.14px;
    display: block;
    width: min(95%, 480px);
    text-align: center;
}

h3{
    font-size: 16px;
    color: #B9B9B9;
    margin-bottom: 20px;
    font-weight: 400;
}

p{
    font-size: 16px;
    width: min(95%, 595px);
    text-align: center;
    margin-bottom: 20px;
}

.swiper-navigation{
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 56px;
    background: rgba(0, 32, 26, 0.6);
    top: 0 !important;
    transform: translate(0%, 0%) !important;
    left: 0;
}

.navigation-big-devices{
    display: flex;
}

.swiper-navigation span{
    display: block;
    width: fit-content;
    height: 56px;
    line-height: 56px;
    background: none;
    margin: 0 8px !important;

    color:#fff;
    font-size: 14px;
}

.navigation-small-devices-collapsed{
    position: fixed;
    z-index: 100;
    display: none;
    width: 100vw;
    height: 56px;
    background: rgba(0, 32, 26, 0.6);
    top: 0;
    left: 0;
}

.navigation-small-devices-collapsed>button{
    background-image: url("Icons/menu.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;

    margin-top: 4px;
    width: 48px;
    height: 48px;
    border: none;
}

#navigation-small-devices{
    display: none;
    z-index: 90 !important;
    height: 100% !important;
    background: rgba(0, 32, 26, 0.9);
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#navigation-small-devices span{
    background-color: rgb(1, 33, 70);
    border-radius: 0%;
    width: 150px;
    text-align: center;
    opacity: 0.4;
}

#navigation-small-devices>.swiper-pagination-bullet{
    margin: 2% auto !important;
}

#navigation-small-devices>.swiper-pagination-bullet-active{
    opacity: 1 !important;
}

@media screen and (max-width: 650px) {
    .navigation-big-devices {
      display: none;
    }
    .navigation-small-devices-collapsed{
        display: block;
    }
}

.swiper {
    width: 100vw;
    height: 100vh;
}

.swiper-slide{
    background-image: url("Images/network-3357642_1920.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(19, 179, 201);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-element{
    position: relative;
    margin-top: 70px;
}

.slide-icon{
    margin-bottom: 23px;
}

/* Above is css for every page */
/* Below is css for about me page */

.about-me p{
    font-size: 18px;
}

.about-me h2{
    margin-bottom: 20px !important;
}

.profile-pic{
    background: rgba(255, 255, 255, 0.4);
    width: 179px;
    height: 179px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.profile-pic img{
    width: 100%;
}

.description{
    width: min(95%, 595px) !important;
    text-align: center;
}

/* Above is css for about me page */
/* Below is css for Education page */

.education-page-h1{
    font-size: min(11vw, 32px) !important;
}

/* Above is css for Education page */
/* Below is css for My Projects page */

.my-projects h2{
    font-size: 18px !important;
}

.my-projects h3{
    font-size: 14px !important;
    font-weight: 550 !important;
}

.my-projects p{
    font-size: 14px !important;
    margin-bottom: 20px;
}

.my-projects a{
    display: block;
    width: 145px;
    margin-bottom: 5px;
    text-decoration: none;
}

.my-projects a img{
    height: 24px;
    float: left;
}

.my-projects a>span{
    margin-left: 10px;
    line-height: 24px;
    color: #3700ff;
    display: block;
    float: left;
}

#maed-pic{
    width: min(90vw, 350px);
    margin: 15px 0 20px;
}

/* Above is css for My Projects page */
/* Below is css for Recommendations page */

.recommendations-page h2{
    font-size: 18px !important;
}

.recommendations-page>span{
    font-size: 14px;
}

.recommendations-page>.company-employee{
    font-weight: 550;
    margin-bottom: 6.14px;
}

.recommendations-page>.phone{
    margin-bottom: 6.14px;
    color: #B9B9B9;
}

.recommendations-page>.email{
    margin-bottom: 40px;
}